body{
margin:0;
font-family:Arial;
text-align:center;
}

header{
background:black;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

.hero{
background:red;
color:white;
padding:80px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:40px;
}

.card{
background:#eee;
padding:30px;
border-radius:10px;
}

button{
background:black;
color:white;
padding:10px 20px;
border:none;
margin-top:10px;
cursor:pointer;
}

footer{
background:black;
color:white;
padding:20px;
}
